<!DOCTYPE html>
<html>
    <head>
        <title>Created a Contact</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="css/styles.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="container">
            <h1>You added {{contact.getName}} as a new contact:</h1>
            <div class="addressBook">
                <ul>
                    <li>{{contact.getName}}</li>
                    <li>{{contact.getEmail}}</li>
                    <li>{{contact.getAddress1}}</li>
                    <li>{{contact.getAddress2}}</li>
                    <li>{{contact.getPhone}}</li>
                </ul>
            </div>


            <form action="/">
                <button type='submit' class='btn btn-success'>View your contacts</button>
            </form>
        </div>
    </body>
</html>
